@import url('https://fonts.googleapis.com/css?family=Niconne|Philosopher');

@font-face{
  font-family:'Philosopher', sans-serif;
  src: url('./fonts/Philosopher/Philosopher-Regular.ttf') format('opentype');
  font-weight:normal;
  font-style:normal;
}
h1{text-align: center;
  font-family:'Philosopher',sans-serif;
}

h2{text-align: center;
  font-family:'Philosopher',sans-serif;
}
h3{text-align: center;
  font-family:'Philosopher',sans-serif;
}
@font-face{
  font-family:'Niconne', cursive;
  src: url('./fonts/Niconne/Niconne-Regular.ttf') format('opentype');
  font-weight:normal;
  font-style:normal;
}
p{text-align: center;
  font-family:'Niconne', cursive;
}
