@import url('@import url('https://fonts.googleapis.com/css?family=Niconne|Philosopher');

@font-face{
  font-family:'Philosopher-Regular', sans-serif;
  src: url('fonts/Philosopher/Philosopher-Regular.ttf') format('opentype');
  font-weight:normal;
  font-style:normal;
}
h1{text-align: center;
  color: teal;
  font-family:'Philosopher-Regular',sans-serif;
  font-size:50pt;
  font-style:normal;
  font-weight:600;

}

h2{text-align: center;
  color: teal;
  font-family:'Philosopher-Regular',sans-serif;
  font-size:30pt;
  font-style:normal;
  font-weight:normal;

}

h3{text-align: center;
  color: teal;
  font-family:'Philosopher-Regular',sans-serif;
  font-size:20pt;
  font-style:normal;
  font-weight:300;
}
@font-face{
  font-family:'Niconne-Regular',cursive;
  src: url('fonts/Niconne-Regular.ttf') format('opentype');
  font-weight:normal;
  font-style:normal;
}

p{text-align: center;
  color:black;
  font-family:'Niconne-Regular',cursive;
  font-size:15pt;
  font-style:normal;
  font-weight:300;
  letter-spacing:1px;

}
