body{
  background-color: Gold
}
h1{
  color: teal;
  text-align: center;
  font-family: '';
  font-size: 40pt;
  font-style: normal;
  font-weight:400;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 30px;
  letter-spacing: auto;
}
