body{background-color:PaleTurquoise	;
  text-align: center;
}

h1{color:DarkKhaki;
font-family:'Philosopher';
font-size: 50pt;
}

h2{color:DarkKhaki;
  font-family:'Philosopher';
  font-size:30pt;
}

h3{color:DarkGoldenrod;
   font-family:'Philosopher';
   font-size:20pt;
}

 hr{
   color:teal
    }

.body{text-align: center;
  background-color:PaleTurquoise;
  font-family:'Niconne'cursive;
  font-size: 15pt;
  color: lightseagreen;
  padding: 24px;
}

.link{font-family:'Niconne',cursive;
  font-size:15pt;
  text-color:gold;
  background-color:lightblue;
  padding: 10px;
}

a:link{color:teal;
  text-decoration: none;

}

a:hover{color:teal;
  text-decoration:none;
}

a:active{color:teal;
  text-decoration:underline;
}
a:visited{
      color:teal;
      text-decoration:none;
}
